footer {
    width: 100%;
    min-height: 8vh;
    padding: 0 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $nav-footer-background-color;
    @include responsive {
        padding: 0 5%;
    }
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $text-color;
        @include responsive {
            font-size: 1em;
        }
        i {
            margin-right: 10px;
            min-height: 4vh;
        }
    }
    @include responsive {
        p {
            font-size: 0.7em;
            display: none;
        }
    }
}

.mail {
    display: flex;
    align-items: center;
    i {
        margin-right: 5px;
    }
}