footer {
    width: 100%;
    min-height: 8vh;
    padding: 0 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $nav-footer-background-color;
    @include responsive {
        padding: 0 5%;
    }
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $text-color;
        @include responsive {
            font-size: 0.7em;
            visibility: hidden;
            width: 0;
        }
        i {
            margin-right: 10px;
            @include responsive {
                visibility: visible;
            }
        }
    }
    @include responsive {
        p {
            font-size: 0.7em;
            display: none;
        }
    }
}

.mail {
    display: flex;
    align-items: center;
    i {
        margin-right: 5px;
    }
}