.presentation {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 2fr 3fr;
    grid-template-rows: 2fr 3fr 5fr 5fr 2fr 3fr 1fr 5fr 2fr 3fr 7fr 3fr 5fr 3fr 8fr;
    row-gap: 20px;
    column-gap: 20px;
}

.open3 {
    grid-template-rows: 50px 2fr 150px 3fr 150px 2fr 3fr 50px;
}