nav {
    width: 100%;
    min-height: 8vh;
    z-index: 5;
    padding: 0 13%;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    background-color: $nav-footer-background-color;
    h2 {
        width: auto;
        font-size: 2em;
        @include responsive {
            display: none;
        }
    }
    .logo {
        display: flex;
        height: 8vh;
    }
    ul {
        display: flex;
        justify-content: space-around;
        width: 45%;
        @include responsive {
            width: 100%;
        }
        li {
            display: flex;
            text-align: center;
            a {
                display: block;
                text-decoration: none;
                font-size: 1.7em;
                color: $text-color;
                @include responsive {
                    font-size: 1.2em;
                }
            }
            .nav-link-underline{
                text-decoration: underline;
            }
        }
    }
}

.accueil {
    @include responsive {
        display: none;
    }
}

.container {
    padding-top: 8vh;
}