.first-section {
    width: 100%;
    height: 85vh;
    background-color: $secondary-background-color;
    padding: 50px 13%;
    @include responsive {
        height: auto;
    }
    h2 {
        font-size: 2.5em;
        padding-top: 2vh;
        display: flex;
        justify-content: center;
    }
    .content {
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @include responsive {
            flex-direction: column;
            height: auto;
        }
        .illustration {
            width: 30%;
            @include responsive {
                width: 100%;
                margin: 10vh 0;
            }
            img {
                width: 100%;
            }
        }
        .infos {
            width: 45%;
            background-color: $purple-1;
            padding: 5vh 2vw;
            border-radius: 20px;
            box-shadow: 0 5px 10px $purple-1;
            font-size: 1.2em;
            @include responsive {
                width: 100%;
                margin-bottom: 10vh;
            }
            p {
                text-align: justify;
            }
            & :nth-child(2) {
                margin-top: 1vh;
            }
        }
    }
    .button {
        display: flex;
        justify-content: center;
    }
}