.gris {
    background-color: $secondary-background-color;
}

.projet {
    width: 100%;
    height: auto;
    padding: 90px 13%;
    h3 {
        font-size: 2em;
        padding-top: 2vh;
        display: flex;
        justify-content: center;
        @include responsive {
            text-align: center;
            font-size: 1.5em;
        }
    }
    .description {
        height: auto;
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include responsive {
            flex-direction: column;
            padding: 5vh 0;
        }
        .portrait {
            width: 30%;
            border-radius: 10px;
            @include responsive {
                width: 40%;
            }
        }
        .paysage {
            width: 45%;
            border-radius: 10px;
            @include responsive {
                width: 100%;
            }
        }
        .text {
            width: 60%;
            padding: 5vh 2vw;
            border-radius: 20px;
            font-size: 1.2em;
            @include responsive {
                width: auto;
            }
            p {
                text-align: justify;
            }
            & :nth-child(2) {
                margin-top: 1vh;
            }
            .technos {
                margin: 5vh 0;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
                @include responsive {
                    width: 100%;
                    padding: 1%;
                }
                p {
                    min-width: 30%;
                }
                img {
                    width: auto;
                    max-height: 50px;
                    padding: 0 10px;
                    margin-top: 0;
                }
            }
        }
        .text-paysage {
            width: 50%;
            @include responsive {
                width: auto;
            }
        }
    }
    .button {
        display: flex;
        justify-content: end;
    }
}